* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background-color:aliceblue;
    display: flex;
    height: 100vh;
    justify-content: center;

}

.container-IMC{
    width: 50%;
    margin:70px;
    padding:100px;
    margin-top:20px
}

.container-IMC .texto{
    margin:20px;
}

.container-IMC .texto h1{
    color:#414C5C;
    margin-bottom:70px;
    font-size:3rem;

}

.container-IMC .texto p{
    color:#A4AAA8;
    line-height: 20px;
    margin-top:-50px;
    font-size:1rem

}

.inputs-calculo-IMC{
    margin:20px;
    margin-top:50px;
}

.inputs-calculo-IMC input{
    display: block;
    border:none;
    background-color: transparent;
    width: 390px;
    border-bottom: 2px solid #cfcfcf;
    cursor:text;
    outline:none;
    margin-bottom:33px;
    padding-top:10px;
}

input::placeholder{
    transform: translateY(-5px);
}


button{
    width: 384px;
    padding:10px;
    border-radius:9px;
    margin:20px;
    background-color: #227C9E;
    border:none;
    color:white;
    cursor:pointer;
    margin-top:42px;
}

button:active{
    opacity: 0.9;
}


.classificacao-IMC{
    width: 54%;
}

.classificacao-IMC .container-items{
    width: 590px;
    margin-top:147px;
    height: 550px;
    display:grid;
    justify-content:space-around;
    grid-template-columns: repeat(2, 1fr);

}


.container-items .magreza{
    width: 200px;
    height: 200px;
    background-color: rgb(19, 39, 192);
    border-radius: 10px;
}

.container-items .normal{
    width: 200px;
    height: 200px;
    background-color: rgb(182, 198, 32);
    border-radius: 10px;
    margin-left:-70px;
}

.container-items .sobrepeso{
    width: 200px;
    height: 200px;
    background-color: rgb(207, 82, 51);
    border-radius: 10px;
    margin-bottom:100px
}

.container-items .obesidade{
    width: 200px;
    height: 200px;
    background-color: rgb(234, 6, 6);
    border-radius: 10px;
    margin-left:-70px;
}


/*RESPONSIVO*/