* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background-color:aliceblue;
    display: flex;
    justify-content: center;

}

.container-IMC{
    width: 50%;
    margin:70px;
    padding:100px;
    margin-top:20px
}

.container-IMC .texto{
    margin:20px;
}

.container-IMC .texto h1{
    line-height: 70px;
    color:#414C5C;
    margin-bottom:70px;
    font-size:3rem;
}

.container-IMC .texto p{
    color:#A4AAA8;
    line-height: 20px;
}

.inputs-calculo-IMC input{
    display: block;
    margin:20px;
    border:none;
    background-color: transparent;
    width: 360px;
    border-bottom: 2px solid #cfcfcf;
    cursor:text;
    outline:none;
}

button{
    width: 384px;
    padding:10px;
    border-radius:9px;
    margin:20px;
    background-color: #227C9E;
    border:none;
    color:white;
    cursor:pointer;
}

button:active{
    opacity: 0.9;
}


.classificacao-IMC{
    background-color: blueviolet;
    width: 50%;
}



/*RESPONSIVO*/