* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: aliceblue;
    display: flex;
    height: 100vh;
    justify-content: center;

}


.container-IMC {
    width: 50%;
    margin: 70px;
    padding: 100px;
    margin-top: 20px
}

.container-IMC .texto {
    margin: 20px;
}

.container-IMC .texto h1 {
    color: #414C5C;
    margin-bottom: 70px;
    font-size: 3rem;
    white-space: nowrap;
    /*impede a quebra de linha*/

}

.container-IMC .texto p {
    color: #A4AAA8;
    line-height: 1.4rem;
    margin-top: -50px;
    font-size: 1rem
}

.inputs-calculo-IMC {
    margin: 20px;
    margin-top: 50px;
}

.inputs-calculo-IMC input {
    display: block;
    border: none;
    background-color: transparent;
    width: 390px;
    border-bottom: 2px solid #cfcfcf;
    cursor: text;
    outline: none;
    margin-bottom: 33px;
    padding-top: 10px;
}

input::placeholder {
    transform: translateY(-5px);
}


button {
    width: 384px;
    padding: 10px;
    border-radius: 9px;
    margin: 20px;
    background-color: #227C9E;
    border: none;
    color: white;
    cursor: pointer;
    margin-top: 38px;
}

button:active {
    opacity: 0.9;
}

#resultadoIMC {
    font-size: 1rem;
    color: #323b48;
    margin: 20px;
}


.classificacao-IMC {
    width: 54%;
}

.classificacao-IMC .container-items {
    width: 590px;
    margin-top: 147px;
    height: 550px;
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(2, 1fr);
    color: white;
}

.container-items img {
    width: 70px;
    border-radius: 50%;
    background-color: rgba(53, 39, 39, 0.3);
    margin: 20px;
}

.container-items h2 {
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 50px;
    margin-top: -20px;
}

.container-items p {
    font-size: 14.5px;
    margin-top: 13px;
}

.container-items .magreza {
    width: 200px;
    height: 200px;
    background-color: #96A3AB;
    border-radius: 10px;
    display: block;
    text-align: center;
}

.container-items .normal {
    width: 200px;
    height: 200px;
    background-color: #0AAF68;
    border-radius: 10px;
    margin-left: -70px;
    text-align: center;
}

.container-items .sobrepeso {
    width: 200px;
    height: 200px;
    background-color: #E2B037;
    border-radius: 10px;
    margin-bottom: 100px;
    text-align: center;
}

.container-items .obesidade {
    width: 200px;
    height: 200px;
    background-color: #C3413F;
    border-radius: 10px;
    margin-left: -70px;
    text-align: center;
}


/* Responsividade */

@media (max-width: 785px) {
    body {
        flex-wrap: wrap;
        overflow-x: hidden;
    }

    .container-IMC {
        width: 90%;
        padding: 30px;
    }

    .container-IMC .texto h1 {
        font-size: 2.4rem;

    }

    .container-IMC .texto p br{
        display: none;
    }

    .container-IMC .texto p {
        line-height: 1.6;
    }

    .inputs-calculo-IMC input {
        width: 310px;
        font-size: 14px;
    }

    button {
        width: 130px;
        padding: 11px;
        font-size: 16px;
    }

    #resultadoIMC {
        margin-top:30px;
    }

    .classificacao-IMC{
        width: 50%;
        padding:30px;
        margin-top:-190px;
    }

    .classificacao-IMC .container-items {
        grid-template-columns: 1fr;
        gap:30px;
        margin:-50px;
        margin-top:150px
    }

    .container-items .magreza {
        width: 250px;
        height: 210px;
    }

    .container-items .normal {
        width: 250px;
        height: 210px;
    }

     .container-items .sobrepeso {
        width: 250px;
        height: 210px;
    }

     .container-items .obesidade {
        width: 250px;
        height: 210px;
    }



}